<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="docs-assets/ico/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <title>Sentimizer</title>

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-02"></button>
            <img src="images/icons/goal.svg" class="nav-logo"><a href="#fakelink" class="navbar-brand nav-title">Sentimizer</a>
        </div>
        <div class="navbar-collapse collapse navbar-collapse-02">
          <form class="navbar-form navbar-right" action="#">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
            </div>
          </form>

          <ul class="nav navbar-nav navbar-left">
              <li>
                <a href="#fakelink">
                  <span class="fui-mail"></span><span class="hidden-lg">Messages</span>
                  <span class="navbar-new">1</span>
                </a>
              </li>
              <li>
                <a href="#fakelink">
                  <span class="fui-gear"></span><span class="hidden-lg">Settings</span>
                </a>
              </li>
              <li class="active">
                <a href="#fakelink">
                  <span class="fui-user"></span><span class="hidden-lg">My Account</span>
                </a>
              </li>
            </ul> <!-- /nav -->
        </div><!--/.navbar-collapse -->
    </div>

    <div class="container">
		{% block content %}{% endblock %}
	</div>
    
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-select.js"></script>
    <script src="../js/bootstrap-switch.js"></script>
    <script src="../js/flatui-checkbox.js"></script>
    <script src="../js/flatui-radio.js"></script>
    <script src="../js/jquery.tagsinput.js"></script>
    <script src="../js/jquery.placeholder.js"></script>
    <script src="../js/bootstrap-typeahead.js"></script>
</body>

</html>
